# General
node_modules/
.DS_Store
.env
.env.local
.env.*.local

# Foundry / Solidity
out/
cache/
broadcast/
foundry-cache/
forge-artifacts/
artifacts/

# Librerías externas de Foundry (no src/lib de frontend)
**/lib/forge-std/
**/lib/openzeppelin-contracts/

# Next.js
.next/
build/
dist/